.my-img {
  width: 63%;
  height: 80%;
  border-radius: 50px;
  box-shadow: 0px 18px 31px -10px black;
}
.small-content {
  align-items: center;
  font-size: 22px;
}
.big-content {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 36px;
  line-height: 63px;
  color: black;
}
.hr-style {
  margin-top: -33px !important;
  border: 1px solid black;
}
.Myself.fs-3 {
  padding: 25px 66px;
}
.my-content {
  font-size: 21px;
  font-weight: 500;
}
