.portfolio-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 30px;
  width: 100%;
}
/* singleCard style */
.my-image {
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  transition: 2s;
}
.my-image:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}
.mySingleCard {
  width: 390px !important;
}
.arrow {
  margin-left: 10px !important;
}
/* style in button */
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* responsive media query  */
@media only screen and (max-width: 600px) {
  .portfolio-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
    margin: 0 auto;
  }
  .mySingleCard {
    width: 200px !important;
  }
}
@media only screen and (max-width: 900px) {
  .mySingleCard {
    width: 233px !important;
  }
}
