.menubar {
  transition: 1s;
}
.menubar:hover {
  cursor: pointer;
  color: chocolate !important;
}
@media only screen and (max-width: 600px) {
  .menu-item {
    display: flex !important;
    justify-content: center !important;
  }
}
